{% include 'header.twig' %}



	
    <div class="main-top">
        <div class="main-top-bg"></div>
	</div>



	<div class="app-content">
      
          <div class="container-fluid">
     
          <div class="container">
     
               <section class="app-childs">
                  <div class="row">
                     <div class="col-lg-12 col-12 mb-lg-0 ">
						<div class="d-card h-100 ">
                            <div class="d-card-head" >
                               <div class="dch-icon">
                                  <i class="fal fa-book-open"></i>
                               </div>
                               {{ lang['terms_title'] }}

                            </div>
								<div class="d-card-body p-5">	

{{ lang['terms'] }}



								</div>
							</div>
						</div>
					</div>
               </section>
            </div>
         </div>
      </div>
  
{% include 'footer.twig' %}